.request-form{
    margin: 0 10vw;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-form .cal {
    width: 40vw;
}

.req-btn {
    margin: 20px 30px;
}

.prof{
    text-align: center;
    margin: 20px;
  }

  .prof-loc{
    margin: 20px 0 0 0;
  }

  .selectedService{
    margin: 20px;
  }

  .selectedService .form-label{
    font-size: 24px;
  }

  .prof-card{
    background: blue;
    width: 450px;
    height: 650px;
    margin: 50px auto;
  }

  .prof-card-pic {
    width: 317px;
    /* height: 317px; */
    margin: 20px 65px;
  }

  .prof-card-name {
    text-align: center;
    margin: 0;
    padding-top: 17px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .prof-card-loc {
    text-align: center;
    color:#F3BF99;
  }

  .prof-card-actions {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  .prof-card-title {
    text-align: center;
    margin: 0;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 17px;
    color: #F3BF99;
  }

  .rec-req {
    margin: 20px;
  }

  .rec-req .pg-title {
    color: #da8446;
  }

  .rec-req .schedule {
    margin-left: 8vw;
  }

  .rec-req .title {
    margin-left: 20vw;
  }

  .rec-req .details {
    margin-left: 20vw;
  }

  .req {
    margin: 20px;
  }

  .req-schedule {
    /* margin-right: 0vw; */
    width: 15vw;
    margin-left: 5vw;
  }

  .req-title {
    width: 30vw;
    margin-left: 13vw;
  }

  .req-details {
    width: 10vw;
    margin-left: 3vw;
  }

  .job-details {
    margin: 20px;
  }

  .job-details-title {
    text-align: center;
    color: #da8446;
  }

  .artisan-payment {
    margin: 20px;
  }
