.reg-form {
  margin: 0 10vw;
}

.login-form {
  margin: 0 10vw;
}

.login-form .form-control {
  width: 50% !important;
}

.form-title{
  font-size: 36px;
  text-align: center;
  color: #de7709;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit{
  margin: 20px 30px;
}

.radio-options {
  display: flex;
}

.option-1 {
  margin-right: 10vw;
}

.forg-pass {
  text-decoration: none;
}

.pass-resq {
  margin: 20px;
}

.pass-resq-title {
  color: #de7709;
}

#pass-res-req .form-control {
  width: 50% !important;
}