  .update-profile {
    margin: 0 10vw;
  }
  
  .update-profile .form-control, .update-profile .form-select, .selectedService .form-select {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .selectedService .form-select {
    width: 50% !important;
  }

  .map-control .form-control, .map-control .map-btn {
    margin: 0;
  }

  .loc-rem {
    color: red;
    font-size: 12px;
  }

  .prof-page {
    margin: 20px;
  }

  .form-title{
    font-size: 36px;
    text-align: center;
    color: #de7709;
  }
  
  .centering {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-submit{
    margin: 20px 30px;
  }

  .error-msg{
    color: red;
  }

  